.container {
   position: fixed;
   inset: 0;
   display: grid;
   place-items: center;
   background-color: rgba(0, 0, 0, 0.8);
   z-index: 100;
}

.wrapper {
   background-color: var(--background);
   padding: 20px;
   border-radius: 10px;
   width: 95vw;
   max-width: 600px;
   height: 95vh;
   overflow-y: auto;
}

.title {
   text-align: center;
   font-weight: 500;
}

.categoriesWrapper {
   display: flex;
   flex-direction: column;
   align-items: center;
   margin-top: 30px;
   gap: 20px;
}
