.container {
   max-height: 500px;
   width: 90vw;
   min-width: 400px;
   display: flex;
   flex-direction: column;
   align-items: center;
   margin-top: 50px;
}

.title {
   font-size: 24px;
   color: var(--primary-700);
}

.noTransactionBtnsWrapper {
   display: flex;
   gap: 10px;
   justify-content: center;
   align-items: center;
   margin-top: 10px;
}
